.ellipsis {
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
}

.dis-flex {
    display: flex !important;
}

.display-contents {
    display: contents;
}

.display-block {
    display: block !important;
}

.display-none {
    display: none !important;
}

.display-grid {
    display: grid !important;
}
