.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.pos-relative {
    position: relative !important;
}

.pos-absolute {
    position: absolute;
}

.pos-sticky {
    position: sticky !important;
}

.pos-fixed {
    position: fixed !important;
}

.jus-con-center {
    justify-content: center;
}